#header {
    text-align: center;
    font-size: large;
}

#grid-area {
    background-color: antiquewhite;
    margin: 20px 150px;
    display: flex;
    flex-wrap: wrap;
    width: 800;
    height: 800;
}

.default-box {
    background-color: aquamarine;
    padding: 2px;
    border-color: darkblue;
}