#header {
    font-size: large;
}

#grid-area {
    background-color: antiquewhite;
    margin: 20px 150px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.default-box {
    background-color: aquamarine;
    box-sizing: border-box;
    border: 1px dotted rgb(46, 46, 255);
}

.hovered-box {
    background-color: rgb(46, 46, 255);
    border: none;
}